NET "led<0>" LOC="L14";
NET "led<1>" LOC ="H12";  //CB
NET "led<2>" LOC ="N14";  //CC
NET "led<3>" LOC ="N11";   //CD
NET "led<4>" LOC ="P12";   //CE
NET "led<5>" LOC ="L13";
NET "led<6>" LOC ="M12";
NET "clk" LOC = "B8";
NET "anode<0>" LOC ="K14";
NET "anode<1>" LOC ="M13";
NET "anode<2>" LOC ="J12";
NET "anode<3>" LOC ="F12";


 